/.idea/.gitignore
/api-gateway/.gitignore
/config-server/.gitignore
/funky-service/.gitignore
/package-service/.gitignore
/service-registry/.gitignore
/.idea/compiler.xml
/.idea/developer.iml
/.idea/encodings.xml
/.idea/jarRepositories.xml
/api-gateway/.mvn/wrapper/maven-wrapper.jar
/config-server/.mvn/wrapper/maven-wrapper.jar
/funky-service/.mvn/wrapper/maven-wrapper.jar
/package-service/.mvn/wrapper/maven-wrapper.jar
/service-registry/.mvn/wrapper/maven-wrapper.jar
/api-gateway/.mvn/wrapper/maven-wrapper.properties
/config-server/.mvn/wrapper/maven-wrapper.properties
/funky-service/.mvn/wrapper/maven-wrapper.properties
/package-service/.mvn/wrapper/maven-wrapper.properties
/service-registry/.mvn/wrapper/maven-wrapper.properties
/.idea/misc.xml
/.idea/modules.xml
/api-gateway/mvnw
/config-server/mvnw
/funky-service/mvnw
/package-service/mvnw
/service-registry/mvnw
/api-gateway/mvnw.cmd
/config-server/mvnw.cmd
/funky-service/mvnw.cmd
/package-service/mvnw.cmd
/service-registry/mvnw.cmd
/orders.xlsx
/.idea/uiDesigner.xml
/.idea/vcs.xml
/api-gateway/.mvn/wrapper/maven-wrapper.jar
/config-server/.mvn/wrapper/maven-wrapper.jar
/funky-jobs/.mvn/wrapper/maven-wrapper.jar
/funky-service/.mvn/wrapper/maven-wrapper.jar
/funky-jobs/.mvn/wrapper/maven-wrapper.properties
/funky-jobs/mvnw
/funky-jobs/mvnw.cmd
/api-gateway/.mvn/wrapper/maven-wrapper.jar
/config-server/.mvn/wrapper/maven-wrapper.jar
/funky-jobs/.mvn/wrapper/maven-wrapper.jar
/funky-service/.mvn/wrapper/maven-wrapper.jar
/package-service/.mvn/wrapper/maven-wrapper.jar
/service-registry/.mvn/wrapper/maven-wrapper.jar
